################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstNetCoreMvcSY/.vs/FirstNetCoreMvcSY/v15/Server/sqlite3
