@model FirstNetCoreMvcSY.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürünler</h2>

<p>
    <a asp-action="Create">Yeni Ürün Ekle</a>
</p>

<table id="grid-basic" data-ajax="true" data-url="product/GetProduct" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="id" data-type="numeric">ID</th>
            <th data-column-id="name">Ürün Adı</th>
            <th data-column-id="price" data-type="numeric" >Fiyatı</th>
            <th data-column-id="balance" data-type="numeric">Stok</th>
            <th data-column-id="brand" data-formatter="brands" data-order="desc">Marka</th>
            <th data-column-id="imagePath" data-formatter="image">Fotoğraf</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts
    {
<script type="text/javascript">

$("#grid-basic").bootgrid({
    formatters: {
        "image": function(column, row)
        {
            return "<image src='/images/"+ row.imagePath +"'>";
        },
        "brands": function(column,row)
        {

            return  '@Model.Brands.Find(q=>q.Value == "1").Text';
        }
    }
});

var doDelete = function (id) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};

            headers['__RequestVerificationToken'] = token;

            $.ajax({
                type: "POST",
                url: "Product/DeleteWithConfirmation"+"/"+id,
                success: function (d) {
                    window.location = "Product";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                    $.alert({
                        title: textStatus,
                        content: xhr.responseText,
                    });
                }
            });
        }

        $(document).ready(function () {

        $("#grid-basic").bootgrid();

            $('.deleteButton').click(function onClick() {
                var data = $('#btnDelete').attr('data-prop');
                var $row = $(this).closest("tr"),       // Finds the closest row <tr>
                $tds = $row.find("td:nth-child(0)");                // Finds all children <td> elements

                $.each($tds, function() {               // Visits every single <td> element
                    console.log($(this).text());        // Prints out the text within the <td>
                });

                $.confirm({
                    title: 'Onay',
                    content: 'Silmek istediğinize emin misiniz ?',
                    type: 'red',
                    theme: 'dark',
                    typeAnimated: true,
                    buttons: {
                        tryAgain: {
                            text: 'Evet',
                            btnClass: 'btn-red',
                            action: function () {
                                doDelete(data);
                            }
                        },
                        close: {
                            text:'Vazgeç'
                        }
                    }
                });

            });
        });</script>
}
